body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.player-container {
    text-align: center;
}

.controls {
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#seekBar {
    width: 80%;
    margin: 10px 0;
}
